<!--
    The following EJS template code checks if a 'title' variable is present.
    - If 'title' exists, it renders it inside an <h1> tag.
    - If 'title' is not present, it attempts to redirect the user to the homepage ('/').
-->

<% if (title) { %>
<h1 class="repairs-titles"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- 
    This line is an EJS (Embedded JavaScript) comment that renders flash messages or notifications to the user interface.
-->

<%- messages() %>

<!-- 
    The following EJS code checks if there are any validation errors.
    If there are errors, it creates an unordered list with the class "notice" and iterates over each error,
    displaying the error message in a list item.
-->
    
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(function(error) { %>
            <% if (error.msg !== "Invalid value") { %>
                <li><%= error.msg %></li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<form id="add-repair-form" action="/repairs/add" method="post">
    <fieldset>
        <label class="form-field" for="repairCost">Price:
            <input class="form-textbox" type="text" name="repair_cost" id="repairCost" required placeholder="Decimals allowed" value="<%= locals.repair_cost %>" pattern="^\d+(\.\d{1,2})?$">
        </label>
        <label class="form-field" for="repairDescription">Description:
            <textarea class="form-textbox" name="repair_description" id="repairDescription" rows="5" cols="50" minlength="5"><%= locals.repair_description %></textarea>
        </label>
        <label class="form-field" for="repairDate">Repair Date:
            <input class="form-textbox" type="text" name="repair_date" id="repairDate" required value="<%= locals.repair_date %>" pattern="\d{4}-\d{2}-\d{2}">
        </label>
        <span class="pattern-message">Please make sure all information is correct before submission</span> 
        <input class="submit-button" type="submit" value="Submit">
        <input type="hidden" name="inv_id" value="<%= inv_id %>">   
    </fieldset>
</form>